classifier/frames_sampled/
classifier/cropped_classifier_frames/
classifier/models/
cropping/frames_to_annotate_larger/
cropping/models/
data/2024_Paxos_Frames/
data/ensemble_results_paxos2020/
data/ensemble_results_paxos2025/
data/informative_frames/
data/stratified_splits/split_*/
data/matched_frames/
data/results/
dino/dinov3/
informative_frames/models/
mil/models/
transformer/models/
*.pt
*.pth
*.ckpt
